* text=auto eol=lf
*.step binary
*.brep binary
*.stl binary
*.glb binary
*.npz binary
*.obj binary
*.onnx binary
*.pt binary
licenses/RaspberryPi5-MIT.txt -text whitespace=cr-at-eol
models/** linguist-generated=true
robots/*/models/** linguist-generated=true
