<robot name="goose_stage_one_18axis">
  <link name="world" />
  <joint name="root" type="floating">
    <parent link="world" />
    <child link="torso" />
    <origin xyz="0 0 0.29" rpy="0 0 0" />
  </joint>
  <link name="torso">
    <inertial>
      <origin xyz="-0.0129692500467 -0.000411905914841 0.00139747403432" rpy="0 0 0" />
      <mass value="2.0522058218101553" />
      <inertia ixx="0.008237711896110736" iyy="0.012138785768190904" izz="0.012929273540853409" ixy="-4.254989361463356e-05" ixz="-0.0006337083510910826" iyz="2.441074079309253e-05" />
    </inertial>
    <visual name="visual_00">
      <geometry>
        <mesh filename="assets/visual_00.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_00_material">
        <color rgba="0.78 0.78 0.74 1" />
      </material>
    </visual>
    <visual name="visual_01">
      <geometry>
        <mesh filename="assets/visual_01.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_01_material">
        <color rgba="0.045 0.055 0.065 1" />
      </material>
    </visual>
    <visual name="visual_02">
      <geometry>
        <mesh filename="assets/visual_02.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_02_material">
        <color rgba="0.95 0.19 0.002 1" />
      </material>
    </visual>
    <visual name="neck_yaw_case">
      <geometry>
        <cylinder radius="0.0265" length="0.0402" />
      </geometry>
      <origin xyz="0.043 0 0.052" rpy="0 0 0" />
      <material name="neck_yaw_case_material">
        <color rgba=".10 .12 .13 1" />
      </material>
    </visual>
    <collision name="neck_yaw_case">
      <geometry>
        <cylinder radius="0.0265" length="0.0402" />
      </geometry>
      <origin xyz="0.043 0 0.052" rpy="0 0 0" />
    </collision>
    <visual name="right_hip_yaw_case">
      <geometry>
        <cylinder radius="0.0265" length="0.0402" />
      </geometry>
      <origin xyz="0 -0.059 0.002" rpy="0 0 0" />
      <material name="right_hip_yaw_case_material">
        <color rgba=".10 .12 .13 1" />
      </material>
    </visual>
    <collision name="right_hip_yaw_case">
      <geometry>
        <cylinder radius="0.0265" length="0.0402" />
      </geometry>
      <origin xyz="0 -0.059 0.002" rpy="0 0 0" />
    </collision>
    <visual name="left_hip_yaw_case">
      <geometry>
        <cylinder radius="0.0265" length="0.0402" />
      </geometry>
      <origin xyz="0 0.059 0.002" rpy="0 0 0" />
      <material name="left_hip_yaw_case_material">
        <color rgba=".10 .12 .13 1" />
      </material>
    </visual>
    <collision name="left_hip_yaw_case">
      <geometry>
        <cylinder radius="0.0265" length="0.0402" />
      </geometry>
      <origin xyz="0 0.059 0.002" rpy="0 0 0" />
    </collision>
    <collision name="torso_collision">
      <geometry>
        <mesh filename="assets/torso_collision.obj" />
      </geometry>
      <origin xyz="-0.015 0 0.011" rpy="0 0 0" />
    </collision>
  </link>
  <link name="neck_yaw">
    <inertial>
      <origin xyz="0 6.83613323304e-21 0.0612320031818" rpy="0 0 0" />
      <mass value="0.40333747376146284" />
      <inertia ixx="0.00026101233977434183" iyy="0.00023415388144100847" izz="0.00017335856810057944" ixy="-5.37667398159468e-23" ixz="-1.2504227274564538e-18" iyz="-2.1969034655691194e-21" />
    </inertial>
    <visual name="visual_03">
      <geometry>
        <mesh filename="assets/visual_03.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_03_material">
        <color rgba="0.045 0.055 0.065 1" />
      </material>
    </visual>
    <visual name="neck_pitch_case">
      <geometry>
        <cylinder radius="0.0275" length="0.0565" />
      </geometry>
      <origin xyz="0 0 0.066" rpy="-1.57079632679 1.57079632679 0" />
      <material name="neck_pitch_case_material">
        <color rgba=".10 .12 .13 1" />
      </material>
    </visual>
    <collision name="neck_pitch_case">
      <geometry>
        <cylinder radius="0.0275" length="0.0565" />
      </geometry>
      <origin xyz="0 0 0.066" rpy="-1.57079632679 1.57079632679 0" />
    </collision>
  </link>
  <link name="neck_pitch">
    <inertial>
      <origin xyz="-0.060948903507 0.00120806510451 0.085620859509" rpy="0 0 0" />
      <mass value="0.3849130301524491" />
      <inertia ixx="0.0006226825351618151" iyy="0.0007459117986580684" izz="0.0003899711855906927" ixy="-4.339699943170732e-06" ixz="0.0002960384821134998" iyz="2.006298739098889e-05" />
    </inertial>
    <visual name="visual_04">
      <geometry>
        <mesh filename="assets/visual_04.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_04_material">
        <color rgba="0.78 0.78 0.74 1" />
      </material>
    </visual>
    <visual name="visual_05">
      <geometry>
        <mesh filename="assets/visual_05.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_05_material">
        <color rgba="0.45 0.49 0.51 1" />
      </material>
    </visual>
    <visual name="visual_13">
      <geometry>
        <mesh filename="assets/visual_13.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_13_material">
        <color rgba="0.025 0.03 0.035 1" />
      </material>
    </visual>
    <visual name="neck_mid_pitch_case">
      <geometry>
        <cylinder radius="0.0265" length="0.0452" />
      </geometry>
      <origin xyz="-0.073 0 0.104" rpy="-1.57079632679 1.57079632679 0" />
      <material name="neck_mid_pitch_case_material">
        <color rgba=".10 .12 .13 1" />
      </material>
    </visual>
    <collision name="neck_mid_pitch_case">
      <geometry>
        <cylinder radius="0.0265" length="0.0452" />
      </geometry>
      <origin xyz="-0.073 0 0.104" rpy="-1.57079632679 1.57079632679 0" />
    </collision>
    <collision name="lower_neck_fork_rear_collision">
      <geometry>
        <mesh filename="assets/lower_neck_fork_rear_collision.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </collision>
    <collision name="lower_neck_fork_front_collision">
      <geometry>
        <mesh filename="assets/lower_neck_fork_front_collision.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </collision>
    <collision name="lower_neck_fork_bridge_collision">
      <geometry>
        <mesh filename="assets/lower_neck_fork_bridge_collision.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </collision>
  </link>
  <link name="neck_mid_pitch">
    <inertial>
      <origin xyz="0.0614524522058 0.000748984225351 0.0791576946562" rpy="0 0 0" />
      <mass value="0.36546305561269893" />
      <inertia ixx="0.0004454922174980055" iyy="0.0005637806463247107" izz="0.0003421350581590478" ixy="1.8325248697995308e-06" ixz="-0.00022460549354213767" iyz="3.760658404657887e-06" />
    </inertial>
    <visual name="visual_06">
      <geometry>
        <mesh filename="assets/visual_06.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_06_material">
        <color rgba="0.78 0.78 0.74 1" />
      </material>
    </visual>
    <visual name="visual_07">
      <geometry>
        <mesh filename="assets/visual_07.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_07_material">
        <color rgba="0.45 0.49 0.51 1" />
      </material>
    </visual>
    <visual name="visual_14">
      <geometry>
        <mesh filename="assets/visual_14.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_14_material">
        <color rgba="0.025 0.03 0.035 1" />
      </material>
    </visual>
    <visual name="head_pitch_case">
      <geometry>
        <cylinder radius="0.0265" length="0.0452" />
      </geometry>
      <origin xyz="0.072 0 0.093" rpy="-1.57079632679 1.57079632679 0" />
      <material name="head_pitch_case_material">
        <color rgba=".10 .12 .13 1" />
      </material>
    </visual>
    <collision name="head_pitch_case">
      <geometry>
        <cylinder radius="0.0265" length="0.0452" />
      </geometry>
      <origin xyz="0.072 0 0.093" rpy="-1.57079632679 1.57079632679 0" />
    </collision>
    <collision name="upper_neck_fork_rear_collision">
      <geometry>
        <mesh filename="assets/upper_neck_fork_rear_collision.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </collision>
    <collision name="upper_neck_fork_front_collision">
      <geometry>
        <mesh filename="assets/upper_neck_fork_front_collision.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </collision>
    <collision name="upper_neck_fork_bridge_collision">
      <geometry>
        <mesh filename="assets/upper_neck_fork_bridge_collision.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </collision>
  </link>
  <link name="head_pitch">
    <inertial>
      <origin xyz="0.0297587105796 -9.87057222097e-19 -0.0142142472558" rpy="0 0 0" />
      <mass value="0.06518204602470656" />
      <inertia ixx="2.4112700364186993e-05" iyy="2.7973173156711664e-05" izz="3.081200544317303e-05" ixy="1.188705826826057e-12" ixz="7.1811860229558905e-06" iyz="8.429004960453426e-12" />
    </inertial>
    <visual name="visual_08">
      <geometry>
        <mesh filename="assets/visual_08.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_08_material">
        <color rgba="0.045 0.055 0.065 1" />
      </material>
    </visual>
    <visual name="visual_09">
      <geometry>
        <mesh filename="assets/visual_09.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_09_material">
        <color rgba="0.45 0.49 0.51 1" />
      </material>
    </visual>
    <visual name="visual_10">
      <geometry>
        <mesh filename="assets/visual_10.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_10_material">
        <color rgba="0.95 0.19 0.002 1" />
      </material>
    </visual>
    <visual name="visual_11">
      <geometry>
        <mesh filename="assets/visual_11.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_11_material">
        <color rgba="0.025 0.03 0.035 1" />
      </material>
    </visual>
    <visual name="visual_12">
      <geometry>
        <mesh filename="assets/visual_12.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_12_material">
        <color rgba="0.78 0.78 0.74 1" />
      </material>
    </visual>
    <collision name="head_roll_bridge_rear_collision">
      <geometry>
        <mesh filename="assets/head_roll_bridge_rear_collision.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </collision>
    <collision name="head_roll_bridge_front_collision">
      <geometry>
        <mesh filename="assets/head_roll_bridge_front_collision.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </collision>
    <collision name="head_roll_bridge_bridge_collision">
      <geometry>
        <mesh filename="assets/head_roll_bridge_bridge_collision.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </collision>
  </link>
  <link name="head_roll">
    <inertial>
      <origin xyz="0.0612127785573 0.00456486064785 0.00184478990003" rpy="0 0 0" />
      <mass value="0.5770640666376233" />
      <inertia ixx="0.00032897588298040257" iyy="0.0006024725383803332" izz="0.0006642390949326833" ixy="-3.661688239780397e-05" ixz="9.372878223143866e-05" iyz="2.3093057466406248e-05" />
    </inertial>
    <visual name="visual_15">
      <geometry>
        <mesh filename="assets/visual_15.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_15_material">
        <color rgba="0.78 0.78 0.74 1" />
      </material>
    </visual>
    <visual name="visual_16">
      <geometry>
        <mesh filename="assets/visual_16.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_16_material">
        <color rgba="0.045 0.055 0.065 1" />
      </material>
    </visual>
    <visual name="visual_17">
      <geometry>
        <mesh filename="assets/visual_17.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_17_material">
        <color rgba="0.01 0.025 0.04 1" />
      </material>
    </visual>
    <visual name="visual_18">
      <geometry>
        <mesh filename="assets/visual_18.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_18_material">
        <color rgba="0.003 0.009 0.016 1" />
      </material>
    </visual>
    <visual name="visual_19">
      <geometry>
        <mesh filename="assets/visual_19.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_19_material">
        <color rgba="0.95 0.19 0.002 1" />
      </material>
    </visual>
    <visual name="visual_21">
      <geometry>
        <mesh filename="assets/visual_21.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_21_material">
        <color rgba="0.025 0.03 0.035 1" />
      </material>
    </visual>
    <visual name="visual_23">
      <geometry>
        <mesh filename="assets/visual_23.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_23_material">
        <color rgba="0.45 0.49 0.51 1" />
      </material>
    </visual>
    <collision name="fixed_upper_bill_contact">
      <geometry>
        <mesh filename="assets/fixed_upper_bill_contact.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </collision>
    <collision name="head_collision">
      <geometry>
        <mesh filename="assets/head_collision.obj" />
      </geometry>
      <origin xyz="0.047 0 0.0175" rpy="0 0 0" />
    </collision>
  </link>
  <link name="beak_hinge">
    <inertial>
      <origin xyz="0.0398090524847 1.33493851301e-09 -0.0273645115767" rpy="0 0 0" />
      <mass value="0.03303491100741975" />
      <inertia ixx="6.1271173975860685e-06" iyy="2.0024182772210517e-05" izz="2.4938796217538835e-05" ixy="7.68881898338729e-13" ixz="1.470905446418858e-07" iyz="1.195062920185113e-10" />
    </inertial>
    <visual name="visual_20">
      <geometry>
        <mesh filename="assets/visual_20.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_20_material">
        <color rgba="0.95 0.19 0.002 1" />
      </material>
    </visual>
    <visual name="visual_22">
      <geometry>
        <mesh filename="assets/visual_22.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_22_material">
        <color rgba="0.025 0.03 0.035 1" />
      </material>
    </visual>
    <visual name="visual_24">
      <geometry>
        <mesh filename="assets/visual_24.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_24_material">
        <color rgba="0.045 0.055 0.065 1" />
      </material>
    </visual>
    <collision name="hinged_lower_bill_contact">
      <geometry>
        <mesh filename="assets/hinged_lower_bill_contact.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </collision>
  </link>
  <link name="right_hip_yaw">
    <inertial>
      <origin xyz="-0.0483228346457 -0.0180026246719 -0.0492703412073" rpy="0 0 0" />
      <mass value="0.381" />
      <inertia ixx="0.00019391011056430445" iyy="0.00026321686286089236" izz="0.0002215377053805774" ixy="-1.8362677165354333e-05" ixz="-5.025574803149605e-05" iyz="-1.8722729658792654e-05" />
    </inertial>
    <visual name="right_hip_roll_case">
      <geometry>
        <cylinder radius="0.0275" length="0.0565" />
      </geometry>
      <origin xyz="-0.051 -0.019 -0.052" rpy="-0 1.57079632679 0" />
      <material name="right_hip_roll_case_material">
        <color rgba=".10 .12 .13 1" />
      </material>
    </visual>
    <collision name="right_hip_roll_case">
      <geometry>
        <cylinder radius="0.0275" length="0.0565" />
      </geometry>
      <origin xyz="-0.051 -0.019 -0.052" rpy="-0 1.57079632679 0" />
    </collision>
  </link>
  <link name="right_hip_roll">
    <inertial>
      <origin xyz="0.0549553805774 -0.0104225721785 -0.0123175853018" rpy="0 0 0" />
      <mass value="0.381" />
      <inertia ixx="0.00016818195472440944" iyy="0.0002027787719816273" izz="0.00023144862401574802" ixy="1.2090183727034115e-05" ixz="1.4288398950131216e-05" iyz="-2.709868766404195e-06" />
    </inertial>
    <visual name="right_hip_pitch_case">
      <geometry>
        <cylinder radius="0.0275" length="0.0565" />
      </geometry>
      <origin xyz="0.058 -0.011 -0.013" rpy="1.57079632679 1.57079632679 0" />
      <material name="right_hip_pitch_case_material">
        <color rgba=".10 .12 .13 1" />
      </material>
    </visual>
    <collision name="right_hip_pitch_case">
      <geometry>
        <cylinder radius="0.0275" length="0.0565" />
      </geometry>
      <origin xyz="0.058 -0.011 -0.013" rpy="1.57079632679 1.57079632679 0" />
    </collision>
  </link>
  <link name="right_hip_pitch">
    <inertial>
      <origin xyz="-0.0567459828331 1.38777878078e-17 -0.0829364364484" rpy="0 0 0" />
      <mass value="0.4540583325700578" />
      <inertia ixx="0.0005595540508211201" iyy="0.0006190979707669515" izz="0.000388692942301383" ixy="1.1722029159257488e-10" ixz="-0.00022365945188760806" iyz="-8.020335692681577e-11" />
    </inertial>
    <visual name="visual_25">
      <geometry>
        <mesh filename="assets/visual_25.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_25_material">
        <color rgba="0.78 0.78 0.74 1" />
      </material>
    </visual>
    <visual name="visual_26">
      <geometry>
        <mesh filename="assets/visual_26.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_26_material">
        <color rgba="0.45 0.49 0.51 1" />
      </material>
    </visual>
    <visual name="right_knee_pitch_case">
      <geometry>
        <cylinder radius="0.0275" length="0.0565" />
      </geometry>
      <origin xyz="-0.065 0 -0.095" rpy="1.57079632679 1.57079632679 0" />
      <material name="right_knee_pitch_case_material">
        <color rgba=".10 .12 .13 1" />
      </material>
    </visual>
    <collision name="right_knee_pitch_case">
      <geometry>
        <cylinder radius="0.0275" length="0.0565" />
      </geometry>
      <origin xyz="-0.065 0 -0.095" rpy="1.57079632679 1.57079632679 0" />
    </collision>
    <collision name="right_thigh_fork_rear_collision">
      <geometry>
        <mesh filename="assets/right_thigh_fork_rear_collision.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </collision>
    <collision name="right_thigh_fork_front_collision">
      <geometry>
        <mesh filename="assets/right_thigh_fork_front_collision.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </collision>
    <collision name="right_thigh_fork_bridge_collision">
      <geometry>
        <mesh filename="assets/right_thigh_fork_bridge_collision.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </collision>
  </link>
  <link name="right_knee_pitch">
    <inertial>
      <origin xyz="0.0453824520618 -1.38777878078e-17 -0.0622896400849" rpy="0 0 0" />
      <mass value="0.43542949080735593" />
      <inertia ixx="0.00036731195051759724" iyy="0.0003762489221125872" izz="0.00029722678329483626" ixy="7.024643950596612e-11" ixz="0.0001134764017904075" iyz="5.117954849052122e-11" />
    </inertial>
    <visual name="visual_27">
      <geometry>
        <mesh filename="assets/visual_27.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_27_material">
        <color rgba="0.78 0.78 0.74 1" />
      </material>
    </visual>
    <visual name="visual_28">
      <geometry>
        <mesh filename="assets/visual_28.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_28_material">
        <color rgba="0.45 0.49 0.51 1" />
      </material>
    </visual>
    <visual name="right_ankle_pitch_case">
      <geometry>
        <cylinder radius="0.0275" length="0.0565" />
      </geometry>
      <origin xyz="0.051 0 -0.07" rpy="1.57079632679 1.57079632679 0" />
      <material name="right_ankle_pitch_case_material">
        <color rgba=".10 .12 .13 1" />
      </material>
    </visual>
    <collision name="right_ankle_pitch_case">
      <geometry>
        <cylinder radius="0.0275" length="0.0565" />
      </geometry>
      <origin xyz="0.051 0 -0.07" rpy="1.57079632679 1.57079632679 0" />
    </collision>
    <collision name="right_shin_fork_rear_collision">
      <geometry>
        <mesh filename="assets/right_shin_fork_rear_collision.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </collision>
    <collision name="right_shin_fork_front_collision">
      <geometry>
        <mesh filename="assets/right_shin_fork_front_collision.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </collision>
    <collision name="right_shin_fork_bridge_collision">
      <geometry>
        <mesh filename="assets/right_shin_fork_bridge_collision.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </collision>
  </link>
  <link name="right_ankle_pitch">
    <inertial>
      <origin xyz="0.0530498658307 0 -0.0229278895031" rpy="0 0 0" />
      <mass value="0.32906628484728684" />
      <inertia ixx="0.00011738928043515143" iyy="0.00021558627375936444" izz="0.00020513042615864227" ixy="0.0" ixz="3.939268247262965e-05" iyz="5.3601303693436193e-20" />
    </inertial>
    <visual name="visual_29">
      <geometry>
        <mesh filename="assets/visual_29.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_29_material">
        <color rgba="0.45 0.49 0.51 1" />
      </material>
    </visual>
    <visual name="right_ankle_roll_case">
      <geometry>
        <cylinder radius="0.0265" length="0.045200000000000004" />
      </geometry>
      <origin xyz="0.06 0 -0.026" rpy="-0 1.57079632679 0" />
      <material name="right_ankle_roll_case_material">
        <color rgba=".10 .12 .13 1" />
      </material>
    </visual>
    <collision name="right_ankle_roll_case">
      <geometry>
        <cylinder radius="0.0265" length="0.045200000000000004" />
      </geometry>
      <origin xyz="0.06 0 -0.026" rpy="-0 1.57079632679 0" />
    </collision>
  </link>
  <link name="right_ankle_roll">
    <inertial>
      <origin xyz="-0.0242394011803 -1.1191440917e-07 -0.0198106776612" rpy="0 0 0" />
      <mass value="0.39124076966000065" />
      <inertia ixx="0.0003378737617435427" iyy="0.001046720269664503" izz="0.0012048416714211573" ixy="4.4920471072577974e-08" ixz="-1.464283048900667e-05" iyz="1.6139772268894056e-09" />
    </inertial>
    <visual name="visual_30">
      <geometry>
        <mesh filename="assets/visual_30.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_30_material">
        <color rgba="0.025 0.03 0.035 1" />
      </material>
    </visual>
    <visual name="visual_31">
      <geometry>
        <mesh filename="assets/visual_31.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_31_material">
        <color rgba="0.95 0.19 0.002 1" />
      </material>
    </visual>
    <visual name="visual_32">
      <geometry>
        <mesh filename="assets/visual_32.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_32_material">
        <color rgba="0.78 0.78 0.74 1" />
      </material>
    </visual>
    <visual name="visual_41">
      <geometry>
        <mesh filename="assets/visual_41.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_41_material">
        <color rgba="0.45 0.49 0.51 1" />
      </material>
    </visual>
    <collision name="right_foot_contact">
      <geometry>
        <mesh filename="assets/right_foot_contact.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </collision>
  </link>
  <link name="left_hip_yaw">
    <inertial>
      <origin xyz="-0.0483228346457 0.0180026246719 -0.0492703412073" rpy="0 0 0" />
      <mass value="0.381" />
      <inertia ixx="0.00019391011056430445" iyy="0.00026321686286089236" izz="0.0002215377053805774" ixy="1.8362677165354333e-05" ixz="-5.025574803149605e-05" iyz="1.8722729658792654e-05" />
    </inertial>
    <visual name="left_hip_roll_case">
      <geometry>
        <cylinder radius="0.0275" length="0.0565" />
      </geometry>
      <origin xyz="-0.051 0.019 -0.052" rpy="-0 1.57079632679 0" />
      <material name="left_hip_roll_case_material">
        <color rgba=".10 .12 .13 1" />
      </material>
    </visual>
    <collision name="left_hip_roll_case">
      <geometry>
        <cylinder radius="0.0275" length="0.0565" />
      </geometry>
      <origin xyz="-0.051 0.019 -0.052" rpy="-0 1.57079632679 0" />
    </collision>
  </link>
  <link name="left_hip_roll">
    <inertial>
      <origin xyz="0.0549553805774 0.0104225721785 -0.0123175853018" rpy="0 0 0" />
      <mass value="0.381" />
      <inertia ixx="0.00016818195472440944" iyy="0.0002027787719816273" izz="0.00023144862401574802" ixy="-1.2090183727034115e-05" ixz="1.4288398950131216e-05" iyz="2.709868766404195e-06" />
    </inertial>
    <visual name="left_hip_pitch_case">
      <geometry>
        <cylinder radius="0.0275" length="0.0565" />
      </geometry>
      <origin xyz="0.058 0.011 -0.013" rpy="-1.57079632679 1.57079632679 0" />
      <material name="left_hip_pitch_case_material">
        <color rgba=".10 .12 .13 1" />
      </material>
    </visual>
    <collision name="left_hip_pitch_case">
      <geometry>
        <cylinder radius="0.0275" length="0.0565" />
      </geometry>
      <origin xyz="0.058 0.011 -0.013" rpy="-1.57079632679 1.57079632679 0" />
    </collision>
  </link>
  <link name="left_hip_pitch">
    <inertial>
      <origin xyz="-0.0567459828331 -1.38777878078e-17 -0.0829364364484" rpy="0 0 0" />
      <mass value="0.4540583325700578" />
      <inertia ixx="0.0005595540508211197" iyy="0.0006190979707669513" izz="0.0003886929423013828" ixy="1.1722029152439632e-10" ixz="-0.00022365945188760814" iyz="-8.02033568229391e-11" />
    </inertial>
    <visual name="visual_33">
      <geometry>
        <mesh filename="assets/visual_33.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_33_material">
        <color rgba="0.78 0.78 0.74 1" />
      </material>
    </visual>
    <visual name="visual_34">
      <geometry>
        <mesh filename="assets/visual_34.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_34_material">
        <color rgba="0.45 0.49 0.51 1" />
      </material>
    </visual>
    <visual name="left_knee_pitch_case">
      <geometry>
        <cylinder radius="0.0275" length="0.0565" />
      </geometry>
      <origin xyz="-0.065 0 -0.095" rpy="-1.57079632679 1.57079632679 0" />
      <material name="left_knee_pitch_case_material">
        <color rgba=".10 .12 .13 1" />
      </material>
    </visual>
    <collision name="left_knee_pitch_case">
      <geometry>
        <cylinder radius="0.0275" length="0.0565" />
      </geometry>
      <origin xyz="-0.065 0 -0.095" rpy="-1.57079632679 1.57079632679 0" />
    </collision>
    <collision name="left_thigh_fork_rear_collision">
      <geometry>
        <mesh filename="assets/left_thigh_fork_rear_collision.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </collision>
    <collision name="left_thigh_fork_front_collision">
      <geometry>
        <mesh filename="assets/left_thigh_fork_front_collision.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </collision>
    <collision name="left_thigh_fork_bridge_collision">
      <geometry>
        <mesh filename="assets/left_thigh_fork_bridge_collision.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </collision>
  </link>
  <link name="left_knee_pitch">
    <inertial>
      <origin xyz="0.0453824520618 -1.38777878078e-17 -0.0622896400849" rpy="0 0 0" />
      <mass value="0.43542949080735593" />
      <inertia ixx="0.00036731195051759724" iyy="0.00037624892211258706" izz="0.00029722678329483637" ixy="7.02464395287469e-11" ixz="0.00011347640179040745" iyz="5.117954843595463e-11" />
    </inertial>
    <visual name="visual_35">
      <geometry>
        <mesh filename="assets/visual_35.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_35_material">
        <color rgba="0.78 0.78 0.74 1" />
      </material>
    </visual>
    <visual name="visual_36">
      <geometry>
        <mesh filename="assets/visual_36.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_36_material">
        <color rgba="0.45 0.49 0.51 1" />
      </material>
    </visual>
    <visual name="left_ankle_pitch_case">
      <geometry>
        <cylinder radius="0.0275" length="0.0565" />
      </geometry>
      <origin xyz="0.051 0 -0.07" rpy="-1.57079632679 1.57079632679 0" />
      <material name="left_ankle_pitch_case_material">
        <color rgba=".10 .12 .13 1" />
      </material>
    </visual>
    <collision name="left_ankle_pitch_case">
      <geometry>
        <cylinder radius="0.0275" length="0.0565" />
      </geometry>
      <origin xyz="0.051 0 -0.07" rpy="-1.57079632679 1.57079632679 0" />
    </collision>
    <collision name="left_shin_fork_rear_collision">
      <geometry>
        <mesh filename="assets/left_shin_fork_rear_collision.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </collision>
    <collision name="left_shin_fork_front_collision">
      <geometry>
        <mesh filename="assets/left_shin_fork_front_collision.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </collision>
    <collision name="left_shin_fork_bridge_collision">
      <geometry>
        <mesh filename="assets/left_shin_fork_bridge_collision.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </collision>
  </link>
  <link name="left_ankle_pitch">
    <inertial>
      <origin xyz="0.0530498658307 0 -0.0229278895031" rpy="0 0 0" />
      <mass value="0.32906628484728684" />
      <inertia ixx="0.00011738928043515154" iyy="0.0002155862737593645" izz="0.00020513042615864227" ixy="2.063723649379045e-20" ixz="3.9392682472629616e-05" iyz="-1.1252058242074538e-19" />
    </inertial>
    <visual name="visual_37">
      <geometry>
        <mesh filename="assets/visual_37.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_37_material">
        <color rgba="0.45 0.49 0.51 1" />
      </material>
    </visual>
    <visual name="left_ankle_roll_case">
      <geometry>
        <cylinder radius="0.0265" length="0.045200000000000004" />
      </geometry>
      <origin xyz="0.06 0 -0.026" rpy="-0 1.57079632679 0" />
      <material name="left_ankle_roll_case_material">
        <color rgba=".10 .12 .13 1" />
      </material>
    </visual>
    <collision name="left_ankle_roll_case">
      <geometry>
        <cylinder radius="0.0265" length="0.045200000000000004" />
      </geometry>
      <origin xyz="0.06 0 -0.026" rpy="-0 1.57079632679 0" />
    </collision>
  </link>
  <link name="left_ankle_roll">
    <inertial>
      <origin xyz="-0.0242394011803 -1.11914409198e-07 -0.0198106776612" rpy="0 0 0" />
      <mass value="0.3912407696600007" />
      <inertia ixx="0.00033787376174354165" iyy="0.0010467202696645026" izz="0.0012048416714211562" ixy="4.492047107394766e-08" ixz="-1.4642830489006693e-05" iyz="1.6139772270824292e-09" />
    </inertial>
    <visual name="visual_38">
      <geometry>
        <mesh filename="assets/visual_38.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_38_material">
        <color rgba="0.025 0.03 0.035 1" />
      </material>
    </visual>
    <visual name="visual_39">
      <geometry>
        <mesh filename="assets/visual_39.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_39_material">
        <color rgba="0.95 0.19 0.002 1" />
      </material>
    </visual>
    <visual name="visual_40">
      <geometry>
        <mesh filename="assets/visual_40.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_40_material">
        <color rgba="0.78 0.78 0.74 1" />
      </material>
    </visual>
    <visual name="visual_42">
      <geometry>
        <mesh filename="assets/visual_42.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <material name="visual_42_material">
        <color rgba="0.45 0.49 0.51 1" />
      </material>
    </visual>
    <collision name="left_foot_contact">
      <geometry>
        <mesh filename="assets/left_foot_contact.obj" />
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0" />
    </collision>
  </link>
  <joint name="neck_yaw" type="revolute">
    <parent link="torso" />
    <child link="neck_yaw" />
    <origin xyz="0.043 0 0.052" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-0.5" upper="0.5" effort="2.0" velocity="38.746309394274114" />
    <dynamics damping="0.01" friction="0.03" />
  </joint>
  <joint name="neck_pitch" type="revolute">
    <parent link="neck_yaw" />
    <child link="neck_pitch" />
    <origin xyz="0 0 0.066" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-0.6" upper="2.6" effort="12.0" velocity="4.1887902047863905" />
    <dynamics damping="0.01" friction="0.4" />
  </joint>
  <joint name="neck_mid_pitch" type="revolute">
    <parent link="neck_pitch" />
    <child link="neck_mid_pitch" />
    <origin xyz="-0.073 0 0.104" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-1.4" upper="1.4" effort="4.0" velocity="12.56637061435917" />
    <dynamics damping="0.01" friction="0.05" />
  </joint>
  <joint name="head_pitch" type="revolute">
    <parent link="neck_mid_pitch" />
    <child link="head_pitch" />
    <origin xyz="0.072 0 0.093" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-1.6" upper="1.6" effort="4.0" velocity="12.56637061435917" />
    <dynamics damping="0.01" friction="0.05" />
  </joint>
  <joint name="head_roll" type="revolute">
    <parent link="head_pitch" />
    <child link="head_roll" />
    <origin xyz="0.039 0 -0.0195" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-0.6" upper="0.6" effort="0.18" velocity="3.0" />
    <dynamics damping="0.01" friction="0.006" />
  </joint>
  <joint name="beak_hinge" type="revolute">
    <parent link="head_roll" />
    <child link="beak_hinge" />
    <origin xyz="0.079 0 -0.0095" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="0.0" upper="0.55" effort="4.7" velocity="1.0" />
    <dynamics damping="0.01" friction="0.05" />
  </joint>
  <joint name="right_hip_yaw" type="revolute">
    <parent link="torso" />
    <child link="right_hip_yaw" />
    <origin xyz="0 -0.059 0.002" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-0.6" upper="0.6" effort="2.0" velocity="38.746309394274114" />
    <dynamics damping="0.01" friction="0.03" />
  </joint>
  <joint name="right_hip_roll" type="revolute">
    <parent link="right_hip_yaw" />
    <child link="right_hip_roll" />
    <origin xyz="-0.051 -0.019 -0.052" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-0.5" upper="0.5" effort="12.0" velocity="4.1887902047863905" />
    <dynamics damping="0.01" friction="0.4" />
  </joint>
  <joint name="right_hip_pitch" type="revolute">
    <parent link="right_hip_roll" />
    <child link="right_hip_pitch" />
    <origin xyz="0.058 -0.011 -0.013" rpy="0 0 0" />
    <axis xyz="0 -1 0" />
    <limit lower="-1.1" upper="1.1" effort="12.0" velocity="4.1887902047863905" />
    <dynamics damping="0.01" friction="0.4" />
  </joint>
  <joint name="right_knee_pitch" type="revolute">
    <parent link="right_hip_pitch" />
    <child link="right_knee_pitch" />
    <origin xyz="-0.065 0 -0.095" rpy="0 0 0" />
    <axis xyz="0 -1 0" />
    <limit lower="-0.2" upper="1.8" effort="12.0" velocity="4.1887902047863905" />
    <dynamics damping="0.01" friction="0.4" />
  </joint>
  <joint name="right_ankle_pitch" type="revolute">
    <parent link="right_knee_pitch" />
    <child link="right_ankle_pitch" />
    <origin xyz="0.051 0 -0.07" rpy="0 0 0" />
    <axis xyz="0 -1 0" />
    <limit lower="-1.1" upper="1.1" effort="12.0" velocity="4.1887902047863905" />
    <dynamics damping="0.01" friction="0.4" />
  </joint>
  <joint name="right_ankle_roll" type="revolute">
    <parent link="right_ankle_pitch" />
    <child link="right_ankle_roll" />
    <origin xyz="0.06 0 -0.026" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-0.5" upper="0.5" effort="4.0" velocity="12.56637061435917" />
    <dynamics damping="0.01" friction="0.05" />
  </joint>
  <joint name="left_hip_yaw" type="revolute">
    <parent link="torso" />
    <child link="left_hip_yaw" />
    <origin xyz="0 0.059 0.002" rpy="0 0 0" />
    <axis xyz="0 0 1" />
    <limit lower="-0.6" upper="0.6" effort="2.0" velocity="38.746309394274114" />
    <dynamics damping="0.01" friction="0.03" />
  </joint>
  <joint name="left_hip_roll" type="revolute">
    <parent link="left_hip_yaw" />
    <child link="left_hip_roll" />
    <origin xyz="-0.051 0.019 -0.052" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-0.5" upper="0.5" effort="12.0" velocity="4.1887902047863905" />
    <dynamics damping="0.01" friction="0.4" />
  </joint>
  <joint name="left_hip_pitch" type="revolute">
    <parent link="left_hip_roll" />
    <child link="left_hip_pitch" />
    <origin xyz="0.058 0.011 -0.013" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-1.1" upper="1.1" effort="12.0" velocity="4.1887902047863905" />
    <dynamics damping="0.01" friction="0.4" />
  </joint>
  <joint name="left_knee_pitch" type="revolute">
    <parent link="left_hip_pitch" />
    <child link="left_knee_pitch" />
    <origin xyz="-0.065 0 -0.095" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-1.8" upper="0.2" effort="12.0" velocity="4.1887902047863905" />
    <dynamics damping="0.01" friction="0.4" />
  </joint>
  <joint name="left_ankle_pitch" type="revolute">
    <parent link="left_knee_pitch" />
    <child link="left_ankle_pitch" />
    <origin xyz="0.051 0 -0.07" rpy="0 0 0" />
    <axis xyz="0 1 0" />
    <limit lower="-1.1" upper="1.1" effort="12.0" velocity="4.1887902047863905" />
    <dynamics damping="0.01" friction="0.4" />
  </joint>
  <joint name="left_ankle_roll" type="revolute">
    <parent link="left_ankle_pitch" />
    <child link="left_ankle_roll" />
    <origin xyz="0.06 0 -0.026" rpy="0 0 0" />
    <axis xyz="1 0 0" />
    <limit lower="-0.5" upper="0.5" effort="4.0" velocity="12.56637061435917" />
    <dynamics damping="0.01" friction="0.05" />
  </joint>
</robot>
